*, 
*::after, 
*::before {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

body, 
h1, h2, h3, h4, p {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

