@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@300;400;700&display=swap');

//// Custom Variables
// Fonts
$font-primary: 'Quicksand', sans-serif; 
$font-accent: 'Bangers', cursive;

// Font Weights
$fw-thin: 300;
$fw-regular: 400;
$fw-bold: 700;

// Font Sizes
$links: 1.15rem;
$social-link: clamp(2.5rem, 3.843vw, 3.5rem);
$heading: clamp(3rem, 5.797vw, 7rem);
$p: 1rem;
$h1: clamp(5.25rem, 8.405vw, 9rem);
$h1-accent: clamp(10rem, 15.913vw, 17rem);




// General 
body {
    font-family: $font-primary;
    line-height: 1.6;
    font-size: $p;
}

.accent {
    color: $clr-accent;
    font-family: $font-accent;
}


// Twitch Banner
.banner-cta {
    color: $clr-accent;
    font-weight: $fw-thin;

    & .bold {
        font-weight: $fw-bold;
        color: $clr-accent;
    
        &:visited {
            color: $clr-accent;
        }
    }
}


// Hero Title and Subtitle
.title {
    width: min-content;
    font-weight: $fw-thin;
    line-height: .75;
    text-transform: uppercase;
    font-size: $h1;

    & .accent {
        font-size: $h1-accent;
    }
}

.subtitle {
    font-size: 1.15rem;
}


// Hero-cta
.heading {
    max-width: min-content;
    font-size: $heading;
    letter-spacing: .01rem;
    line-height: 1;
    color: $clr-accent;
    //font-weight: $fw-bold;

    @media (min-width: 1000px) {
        max-width: none;
    }
}




